Repository ai4trees/pointtree: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
    args: [--line-length=120]
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: src
    types: [python]
    args:
        [
          --rcfile=.rcfile
        ]
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: test
    types: [python]
    args:
        [
          --rcfile=.rcfile,
          --disable=duplicate-code,
          --disable=missing-function-docstring
        ]
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: mypy
    language: system
    types: [python]
    args:
        [
            --warn-unused-ignores,
            --show-error-codes
        ]
    require_serial: true
    verbose: true

update github workflow for sphinx commits
  .github/workflows/sphinx.yml
Due: none

fix black error
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
Due: pylint, mypy

small updates of the data visualization methods
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  src/pointtree/visualization/_color_point_cloud.py
Due: pylint, mypy

fix docs deployment
  .github/workflows/static.yml
Due: none

add operation to map labels to a consecutive range
  src/pointtree/operations/__init__.py
  src/pointtree/operations/_make_labels_consecutive.py
Due: pylint, mypy

Fix docs deployment (#23)
  .github/workflows/static.yml
Due: none

refactor make_labels_consecutive operation
  src/pointtree/operations/_make_labels_consecutive.py
Due: pylint, mypy

fix github workflow for docs deployment
  .github/workflows/static.yml
Due: none

Fix docs deployment (#24)
  .github/workflows/static.yml
Due: none

update notebooks
  notebooks/2_color_semantic_segmentation.ipynb
  notebooks/3_evaluate_instance_segmentation.ipynb
  notebooks/4_color_instance_segmentation.ipynb
Due: none

Refactor data visualization code (#25)
  notebooks/2_color_semantic_segmentation.ipynb
  notebooks/3_evaluate_instance_segmentation.ipynb
  notebooks/4_color_instance_segmentation.ipynb
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  src/pointtree/visualization/_color_point_cloud.py
Due: pylint, mypy

refactor make_labels_consecutive operation
  notebooks/0_preprocess_semantic_segmentation.ipynb
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  src/pointtree/operations/_make_labels_consecutive.py
  test/instance_segmentation/test_utils.py
  test/operations/__init__.py
  test/operations/test_make_labels_consecutive.py
Due: pylint, mypy

fix code
  src/pointtree/operations/_make_labels_consecutive.py
Due: pylint, mypy

reformat code
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
Due: pylint, mypy

Refactor make_labels_consecutive operation (#26)
  notebooks/0_preprocess_semantic_segmentation.ipynb
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  src/pointtree/operations/__init__.py
  src/pointtree/operations/_make_labels_consecutive.py
  test/instance_segmentation/test_utils.py
  test/operations/__init__.py
  test/operations/test_make_labels_consecutive.py
Due: pylint, mypy

setup automatic release
  .github/workflows/pull-requests-conventional-commits.yml
  .github/workflows/pull-requests-coverage-badge.yml
  .github/workflows/python-publish.yml
  .github/workflows/static.yml
  README.md
  docs/source/changelog/index.rst
  docs/source/conf.py
  docs/source/how-to/install/includes/install.sh
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/pointtree.config.rst
  docs/source/pointtree.evaluation.rst
  docs/source/pointtree.instance_segmentation.rst
  docs/source/pointtree.io.rst
  docs/source/pointtree.operations.rst
  docs/source/pointtree.rst
  docs/source/pointtree.visualization.rst
  pyproject.toml
Due: mypy

update CI/CD workflow
  .github/workflows/code-quality-main.yml
  .github/workflows/code-quality-pull-requests.yml
  .github/workflows/code-quality.yml
  .github/workflows/conventional-commits-pull-requests.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-docs.yml
  .github/workflows/release-package.yml
Due: none

docs: update README
  README.md
Due: none

fix workflows
  .github/workflows/code-quality.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-docs.yml
  .github/workflows/release-package.yml
Due: none

fix workflow
  .github/workflows/generate-docs.yml
  .github/workflows/python-publish.yml
Due: none

fix workflow
  .github/workflows/generate-docs.yml
Due: none

fix workflow
  .github/workflows/code-quality.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-docs.yml
  .github/workflows/release-package.yml
Due: none

fix workflow
  .github/workflows/code-quality.yml
Due: none

fix workflow
  .github/workflows/code-quality.yml
  .github/workflows/generate-docs.yml
Due: none

fix workflow
  .github/workflows/deploy-docs.yml
  .github/workflows/release-package.yml
Due: none
