Repository ai4trees/pointtree: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.rcfile
  - --disable=duplicate-code
  - --disable=missing-function-docstring

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --warn-unused-ignores
  - --show-error-codes
  require_serial: true
  verbose: true

ci: refactor CI workflow and setup CD workflow (#27)
  .github/workflows/code-quality-main.yml
  .github/workflows/code-quality-pull-requests.yml
  .github/workflows/code-quality.yml
  .github/workflows/conventional-commits-pull-requests.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-docs.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-package.yml
  README.md
  docs/source/changelog/index.rst
  docs/source/conf.py
  docs/source/how-to/install/includes/install.sh
  docs/source/index.rst
  pyproject.toml
Due: mypy

cloth simulation filtering
  .mypy.ini
  .pre-commit-config.yaml
  src/pointtree/operations/__init__.py
  src/pointtree/operations/_cloth_simulation_filtering.py
  test/operations/test_cloth_simulation_filtering.py
Due: pylint, mypy

create digital terrain model
  .mypy.ini
  src/pointtree/operations/__init__.py
  src/pointtree/operations/_create_digital_terrain_model.py
  test/operations/test_create_digital_terrain_model.py
Due: pylint, mypy

height normalization
  src/pointtree/operations/_normalize_height.py
Due: pylint, mypy

rename test method
  test/operations/test_make_labels_consecutive.py
Due: pylint, mypy

refactor workflow
  .coveragerc
  .github/workflows/code-quality.yml
  .github/workflows/release-package.yml
  README.md
  coverage.svg
  docs/source/conf.py
  docs/source/development/index.rst
Due: mypy

improve workflow
  .github/workflows/code-quality.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-docs.yml
  .github/workflows/release-package.yml
  README.md
Due: none

improve workflow
  .github/workflows/code-quality.yml
Due: none

update Readme
  README.md
Due: none

update readme and fix workflow
  .github/workflows/code-quality.yml
  README.md
Due: none

ci: Refactor CI/CD workflow (#28)
  .coveragerc
  .github/workflows/code-quality.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-docs.yml
  .github/workflows/release-package.yml
  README.md
  coverage.svg
  docs/source/conf.py
  docs/source/development/index.rst
  test/operations/test_make_labels_consecutive.py
Due: pylint, mypy

fix coverage badge
  README.md
Due: none

docs: fix coverage badge (#29)
  README.md
Due: none

fix release workflow
  .github/workflows/release-package.yml
Due: none

ci: fix release workflow (#30)
  .github/workflows/release-package.yml
Due: none

add pypi badge
  README.md
Due: none

docs: add PyPI badge (#31)
  README.md
Due: none

implement basic versioning of docs
  .github/workflows/deploy-docs.yml
  docs/source/apidoc_templates/versions.html
  docs/source/conf.py
Due: mypy

fix workflow
  .github/workflows/deploy-docs.yml
Due: none

fix workflow
  .github/workflows/deploy-docs.yml
  README.md
  docs/source/conf.py
Due: mypy

ci: cache Docker images in Github workflows
  .github/workflows/code-quality.yml
Due: none

fix image name
  .github/workflows/code-quality.yml
Due: none

fix
  .github/workflows/deploy-docs.yml
Due: none

fix
  .github/workflows/code-quality.yml
Due: none

add clean-up
  .github/workflows/code-quality.yml
Due: none

fix install
  .github/workflows/deploy-docs.yml
Due: none

log disk usage
  .github/workflows/code-quality.yml
Due: none

add logs
  .github/workflows/code-quality.yml
Due: none

add logs
  .github/workflows/deploy-docs.yml
Due: none

Path conditions:
  pylint: (any of: src and \.py$) or (any of: test and \.py$)
  mypy: any of: \.py$
