Repository ai4trees/pointtree: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
    args: [--line-length=120]
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: src
    types: [python]
    args:
        [
          --rcfile=.rcfile
        ]
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: test
    types: [python]
    args:
        [
          --rcfile=.rcfile,
          --disable=duplicate-code,
          --disable=missing-function-docstring
        ]
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: mypy
    language: system
    types: [python]
    args:
        [
            --warn-unused-ignores,
            --show-error-codes
        ]
    require_serial: true
    verbose: true

Update LICENSE
  LICENSE
Due: none

add time tracking
  src/forest3d/evaluation/__init__.py
  src/forest3d/evaluation/_time_tracker.py
  src/forest3d/evaluation/_timer.py
  test/evaluation/__init__.py
  test/evaluation/test_time_tracker.py
  test/evaluation/test_timer.py
Due: pylint, mypy

update config
  docs/source/conf.py
  pyproject.toml
Due: mypy

fix CI pipeline
  .mypy.ini
  test/__init__.py
Due: pylint, mypy

add instance remapping
  src/forest3d/instance_segmentation/__init__.py
  src/forest3d/instance_segmentation/_utils.py
  test/instance_segmentation/__init__.py
  test/instance_segmentation/test_utils.py
Due: pylint, mypy

update CI workflow to deploy docs
  .github/workflows/main.yml
Due: none

Create static.yml
  .github/workflows/static.yml
Due: none

update .gitignore
  .gitignore
Due: none

correct path in docs build and update docs config
  .github/workflows/static.yml
  docs/source/_static/autoclass.css
  docs/source/_templates/module.rst_t
  docs/source/_templates/package.rst_t
  docs/source/_templates/toc.rst_t
  docs/source/conf.py
  docs/source/robots.txt
Due: mypy

Update deployment workflow for documentation (#4)
  .github/workflows/static.yml
  docs/_build/html/_modules/forest3d/evaluation/_time_tracker.html
  docs/_build/html/_modules/forest3d/evaluation/_timer.html
  docs/_build/html/_modules/index.html
  docs/_build/html/_static/autoclass.css
  docs/_build/html/forest3d.evaluation.html
  docs/_build/html/forest3d.html
  docs/_build/html/index.html
  docs/_build/html/modules.html
  docs/_build/html/robots.txt
  docs/_build/html/search.html
  docs/_build/html/sitemap.xml
  docs/source/_static/autoclass.css
  docs/source/_templates/module.rst_t
  docs/source/_templates/package.rst_t
  docs/source/_templates/toc.rst_t
  docs/source/conf.py
  docs/source/robots.txt
Due: mypy

update docs
  docs/source/how-to/install/includes/clone.sh
  docs/source/how-to/install/includes/install.sh
  docs/source/index.rst
Due: none

update docs
  docs/source/apidoc_templates/module.rst_t
  docs/source/apidoc_templates/package.rst_t
  docs/source/apidoc_templates/toc.rst_t
  docs/source/conf.py
  docs/source/how-to/install/includes/clone.sh
  docs/source/how-to/install/includes/install.sh
Due: mypy

Update docs (#5)
  docs/_build/html/_modules/forest3d/evaluation/_time_tracker.html
  docs/_build/html/_modules/forest3d/evaluation/_timer.html
  docs/_build/html/_modules/index.html
  docs/_build/html/forest3d.evaluation.html
  docs/_build/html/forest3d.html
  docs/_build/html/index.html
  docs/_build/html/modules.html
  docs/_build/html/objects.inv
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/source/apidoc_templates/module.rst_t
  docs/source/apidoc_templates/package.rst_t
  docs/source/apidoc_templates/toc.rst_t
  docs/source/conf.py
  docs/source/forest3d.evaluation.rst
  docs/source/forest3d.rst
  docs/source/how-to/install/includes/clone.sh
  docs/source/how-to/install/includes/install.sh
  docs/source/index.rst
  docs/source/modules.rst
Due: mypy

Instance remapping (#1)
  docs/_build/html/_modules/forest3d/evaluation/_time_tracker.html
  docs/_build/html/_modules/forest3d/evaluation/_timer.html
  docs/_build/html/_modules/forest3d/instance_segmentation/_utils.html
  docs/_build/html/forest3d.html
  docs/_build/html/forest3d.instance_segmentation.html
  docs/_build/html/index.html
  docs/_build/html/modules.html
  docs/_build/html/objects.inv
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/_build/html/sitemap.xml
  docs/source/forest3d.instance_segmentation.rst
  docs/source/forest3d.rst
  src/forest3d/instance_segmentation/__init__.py
  src/forest3d/instance_segmentation/_utils.py
  test/instance_segmentation/__init__.py
  test/instance_segmentation/test_utils.py
Due: pylint, mypy

multi-stage segmentation
  src/forest3d/instance_segmentation/_multi_stage_algorithm.py
  test/instance_segmentation/test_multi_stage_algorithm.py
Due: pylint, mypy

add more tests
  src/forest3d/instance_segmentation/__init__.py
  src/forest3d/instance_segmentation/_instance_segmentation_algorithm.py
  src/forest3d/instance_segmentation/_multi_stage_algorithm.py
  test/instance_segmentation/test_multi_stage_algorithm.py
Due: pylint, mypy

update algorithm implementation
  src/forest3d/evaluation/__init__.py
  src/forest3d/evaluation/_metrics.py
  src/forest3d/instance_segmentation/__init__.py
  src/forest3d/instance_segmentation/_instance_segmentation_algorithm.py
  src/forest3d/instance_segmentation/_multi_stage_algorithm.py
  src/forest3d/instance_segmentation/_priority_queue.py
  src/forest3d/visualization/__init__.py
  src/forest3d/visualization/_color_palette.py
  src/forest3d/visualization/_color_point_cloud.py
  src/forest3d/visualization/_hex_to_rgb.py
  src/forest3d/visualization/_save_tree_map.py
  test/evaluation/test_metrics.py
  test/instance_segmentation/test_multi_stage_algorithm.py
  test/instance_segmentation/test_priority_queue.py
Due: pylint, mypy

update code
  mypy_stubs/numba_kdtree/__init__.pyi
  mypy_stubs/numba_kdtree/kdtree.pyi
  mypy_stubs/scipy/__init__.pyi
  mypy_stubs/scipy/ndimage.pyi
  mypy_stubs/scipy/spatial/__init__.pyi
  mypy_stubs/scipy/spatial/kdtree.pyi
  mypy_stubs/sklearn/__init__.pyi
  mypy_stubs/sklearn/cluster.pyi
  src/forest3d/evaluation/_metrics.py
  src/forest3d/instance_segmentation/_instance_segmentation_algorithm.py
  src/forest3d/instance_segmentation/_multi_stage_algorithm.py
  src/forest3d/instance_segmentation/_priority_queue.py
  src/forest3d/visualization/__init__.py
  src/forest3d/visualization/_color_palette.py
  src/forest3d/visualization/_color_point_cloud.py
  src/forest3d/visualization/_hex_to_rgb.py
  src/forest3d/visualization/_save_tree_map.py
  test/evaluation/test_metrics.py
  test/instance_segmentation/test_multi_stage_algorithm.py
  test/instance_segmentation/test_priority_queue.py
  test/instance_segmentation/test_utils.py
Due: pylint, mypy

update params
  src/forest3d/instance_segmentation/_multi_stage_algorithm.py
Due: pylint, mypy

update code
  .mypy.ini
  docs/source/index.rst
  pyproject.toml
  src/forest3d/config/__init__.py
  src/forest3d/config/_config.py
  src/forest3d/instance_segmentation/_instance_segmentation_algorithm.py
  src/forest3d/instance_segmentation/_multi_stage_algorithm.py
  src/forest3d/operations/__init__.py
  src/forest3d/operations/_knn_search.py
  src/forest3d/operations/_pack_batch.py
  src/forest3d/operations/_ravel_index.py
  src/forest3d/operations/_voxel_downsampling.py
Due: pylint, mypy

fix logging
  src/forest3d/instance_segmentation/_multi_stage_algorithm.py
Due: pylint, mypy

io utils
  src/forest3d/io/__init__.py
  src/forest3d/io/_base_point_cloud_reader.py
  src/forest3d/io/_base_point_cloud_writer.py
  src/forest3d/io/_csv_reader.py
  src/forest3d/io/_csv_writer.py
  src/forest3d/io/_las_reader.py
  src/forest3d/io/_las_writer.py
  src/forest3d/io/_point_cloud_io_data.py
  src/forest3d/io/_point_cloud_reader.py
  src/forest3d/io/_point_cloud_writer.py
Due: pylint, mypy

fix CI pipeline
  src/forest3d/instance_segmentation/_multi_stage_algorithm.py
  src/forest3d/io/_las_writer.py
Due: pylint, mypy

fix CI pipeline
  .mypy.ini
  src/forest3d/io/__init__.py
  src/forest3d/io/_las_writer.py
Due: pylint, mypy

rename package
  README.md
  pyproject.toml
  src/forest3d/instance_segmentation/_instance_segmentation_algorithm.py
  src/forest3d/instance_segmentation/_multi_stage_algorithm.py
  src/forest3d/operations/_knn_search.py
  test/instance_segmentation/test_multi_stage_algorithm.py
  test/instance_segmentation/test_priority_queue.py
  test/instance_segmentation/test_utils.py
Due: pylint, mypy

update docs
  docs/source/how-to/install/includes/install.sh
Due: none

update docs
  docs/source/conf.py
Due: mypy

rename package
  src/pointtree/__init__.py
  src/pointtree/config/__init__.py
  src/pointtree/config/_config.py
  src/pointtree/evaluation/__init__.py
  src/pointtree/evaluation/_metrics.py
  src/pointtree/evaluation/_time_tracker.py
  src/pointtree/evaluation/_timer.py
  src/pointtree/instance_segmentation/__init__.py
  src/pointtree/instance_segmentation/_instance_segmentation_algorithm.py
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  src/pointtree/instance_segmentation/_priority_queue.py
  src/pointtree/instance_segmentation/_utils.py
  src/pointtree/io/__init__.py
  src/pointtree/io/_base_point_cloud_reader.py
  src/pointtree/io/_base_point_cloud_writer.py
  src/pointtree/io/_csv_reader.py
  src/pointtree/io/_csv_writer.py
  src/pointtree/io/_las_reader.py
  src/pointtree/io/_las_writer.py
  src/pointtree/io/_point_cloud_io_data.py
  src/pointtree/io/_point_cloud_reader.py
  src/pointtree/io/_point_cloud_writer.py
  src/pointtree/operations/__init__.py
  src/pointtree/operations/_knn_search.py
  src/pointtree/operations/_pack_batch.py
  src/pointtree/operations/_ravel_index.py
  src/pointtree/operations/_voxel_downsampling.py
  src/pointtree/visualization/__init__.py
  src/pointtree/visualization/_color_palette.py
  src/pointtree/visualization/_color_point_cloud.py
  src/pointtree/visualization/_hex_to_rgb.py
  src/pointtree/visualization/_save_tree_map.py
Due: pylint, mypy

fix imports
  test/evaluation/test_metrics.py
  test/evaluation/test_time_tracker.py
  test/evaluation/test_timer.py
Due: pylint, mypy

improve reader and writer for LAS files
  src/pointtree/io/_las_reader.py
  src/pointtree/io/_las_writer.py
Due: pylint, mypy

update LAS writer
  src/pointtree/io/_las_writer.py
Due: pylint, mypy

faster implementation of CHM construction
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  test/instance_segmentation/test_multi_stage_algorithm.py
Due: pylint, mypy

fix code formatting
  src/pointtree/io/_las_writer.py
Due: pylint, mypy

assign Watershed labels to unclustered trunk points
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  test/instance_segmentation/test_multi_stage_algorithm.py
Due: pylint, mypy

Improve reader and writer for LAS files (#8)
  docs/_build/html/_modules/pointtree/io/_las_reader.html
  docs/_build/html/_modules/pointtree/io/_las_writer.html
  src/pointtree/io/_las_reader.py
  src/pointtree/io/_las_writer.py
Due: pylint, mypy

fix code formatting and type checking
  mypy_stubs/torch_scatter/__init__.py
  mypy_stubs/torch_scatter/scatter_max.pyi
  mypy_stubs/torch_scatter/segment_csr.pyi
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
Due: pylint, mypy
