Repository ai4trees/pointtree: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.rcfile
  - --disable=duplicate-code
  - --disable=missing-function-docstring

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --warn-unused-ignores
  - --show-error-codes
  require_serial: true
  verbose: true

adapt workflow
  .github/workflows/deploy-docs.yml
Due: none

adapt workflow
  .github/workflows/code-quality.yml
Due: none

adapt workflow
  .github/workflows/deploy-docs.yml
  docs/source/apidoc_templates/index.html
  docs/source/conf.py
Due: mypy

add changelog
  CHANGELOG.md
Due: none

adapt workflow
  .github/workflows/deploy-docs.yml
  docs/source/apidoc_templates/versions.html
  docs/source/conf.py
Due: mypy

adapt workflow
  docs/source/conf.py
Due: mypy

adapt workflow
  .github/workflows/deploy-docs.yml
  docs/source/apidoc_templates/index.html
  docs/source/apidoc_templates/versions.html
  docs/source/conf.py
Due: mypy

save docker image as tar.gz
  .github/workflows/code-quality.yml
Due: none

update changelog file
  CHANGELOG.md
Due: none

fix workflow
  .github/workflows/code-quality.yml
Due: none

chanhe cache path
  .github/workflows/code-quality.yml
Due: none

add docker prune
  .github/workflows/code-quality.yml
Due: none

fix workflow
  .github/workflows/deploy-docs.yml
  docs/source/apidoc_templates/404.html
  docs/source/apidoc_templates/version.html
  docs/source/apidoc_templates/versions.html
  docs/source/conf.py
Due: mypy

fix workflow
  .github/workflows/deploy-docs.yml
Due: none

add workflow for PR clean-up
  .github/workflows/clean-up-pull-requests.yml
Due: none

clean up workflow
  .github/workflows/deploy-docs.yml
Due: none

clean up docs and fix warnings
  docs/source/_redirects
  docs/source/conf.py
  docs/source/how-to/install/includes/clone.sh
  docs/source/modules.rst
  src/pointtree/evaluation/_metrics.py
  src/pointtree/instance_segmentation/__init__.py
  src/pointtree/instance_segmentation/_instance_segmentation_algorithm.py
  src/pointtree/io/__init__.py
  src/pointtree/operations/_knn_search.py
  src/pointtree/operations/_pack_batch.py
  src/pointtree/operations/_ravel_index.py
  src/pointtree/operations/_voxel_downsampling.py
Due: pylint, mypy

update workflow
  .github/workflows/code-quality.yml
Due: none

fix redirect
  .github/workflows/deploy-docs.yml
  docs/source/apidoc_templates/404.html
Due: none

fix docs url for latest version
  docs/source/conf.py
Due: mypy

fix redirects
  docs/source/apidoc_templates/404.html
Due: none

docs: deploy documentation of all package versions (#32)
  .github/workflows/clean-up-pull-requests.yml
  .github/workflows/deploy-docs.yml
  CHANGELOG.md
  README.md
  docs/source/_redirects
  docs/source/apidoc_templates/404.html
  docs/source/apidoc_templates/index.html
  docs/source/apidoc_templates/version.html
  docs/source/apidoc_templates/versions.html
  docs/source/conf.py
  docs/source/how-to/install/includes/clone.sh
  src/pointtree/evaluation/_metrics.py
  src/pointtree/instance_segmentation/__init__.py
  src/pointtree/instance_segmentation/_instance_segmentation_algorithm.py
  src/pointtree/io/__init__.py
  src/pointtree/operations/_knn_search.py
  src/pointtree/operations/_pack_batch.py
  src/pointtree/operations/_ravel_index.py
  src/pointtree/operations/_voxel_downsampling.py
Due: pylint, mypy

fix workflow for cleaning up docs deployment when a PR is closed
  .github/workflows/clean-up-pull-requests.yml
Due: none

Path conditions:
  pylint: (any of: src and \.py$) or (any of: test and \.py$)
  mypy: any of: \.py$
