Repository ai4trees/pointtree: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.rcfile
  - --disable=duplicate-code
  - --disable=missing-function-docstring

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --warn-unused-ignores
  - --show-error-codes
  require_serial: true
  verbose: true

fix release workflow
  .github/workflows/release-package.yml
Due: none

ci: fix release workflow (#68)
  .github/workflows/release-package.yml
Due: none

fix release workflow
  .github/workflows/release-package.yml
  CHANGELOG.md
  pyproject.toml
Due: none

update version of semantic release action
  .github/workflows/release-package.yml
Due: none

ci: fix release workflow (#69)
  .github/workflows/release-package.yml
  CHANGELOG.md
  pyproject.toml
Due: none

ci: fix release workflow
  .github/workflows/release-package.yml
Due: none

ci: fix release workflow (#70)
  .github/workflows/release-package.yml
Due: none

ci: fix release workflow (#71)
  .github/workflows/release-package.yml
Due: none

ci: fix release workflow (#72)
  .github/workflows/release-package.yml
Due: none

0.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix logo url
  README.md
Due: none

docs: fix logo url (#73)
  README.md
Due: none

docs: fix generation of page redirects
  .github/workflows/deploy-docs.yml
Due: none

docs: fix build (#74)
  .github/workflows/deploy-docs.yml
Due: none

docs: extend nitpick ignores
  docs/source/conf.py
Due: mypy

document setup of pre-commit hooks
  docs/source/develop/index.rst
Due: none

docs: extend nitpick ignores (#75)
  docs/source/conf.py
Due: mypy

docs: document setup of pre-commit hooks (#76)
  docs/source/develop/index.rst
Due: none

add pre-commit as development dependency
  pyproject.toml
Due: none

docs: fix version sorting
  docs/source/conf.py
Due: mypy

refactor: add pre-commit package as development dependency (#77)
  pyproject.toml
Due: none

docs: rename apidoc_templates folder
  docs/source/_templates/404.html
  docs/source/_templates/index.html
  docs/source/_templates/module.rst_t
  docs/source/_templates/package.rst_t
  docs/source/_templates/toc.rst_t
  docs/source/_templates/version.html
  docs/source/_templates/versions.html
  docs/source/conf.py
Due: mypy

docs: fix version sorting (#78)
  docs/source/conf.py
Due: mypy

docs: rename apidoc_templates folder (#79)
  docs/source/_templates/404.html
  docs/source/_templates/index.html
  docs/source/_templates/module.rst_t
  docs/source/_templates/package.rst_t
  docs/source/_templates/toc.rst_t
  docs/source/_templates/version.html
  docs/source/_templates/versions.html
  docs/source/conf.py
  docs/source/modules.rst
  docs/source/pointtree.config.rst
  docs/source/pointtree.evaluation.rst
  docs/source/pointtree.instance_segmentation.rst
  docs/source/pointtree.io.rst
  docs/source/pointtree.operations.rst
  docs/source/pointtree.rst
  docs/source/pointtree.visualization.rst
Due: mypy

feat: add operations to filter instances
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  src/pointtree/instance_segmentation/filters.py
  test/instance_segmentation/test_filters.py
  test/instance_segmentation/test_multi_stage_algorithm.py
Due: pylint, mypy

update code formatting
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
Due: pylint, mypy

feat!: add operations to filter instances (#80)
  docs/source/pointtree.instance_segmentation.rst
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  src/pointtree/instance_segmentation/filters.py
  test/instance_segmentation/test_filters.py
  test/instance_segmentation/test_multi_stage_algorithm.py
Due: pylint, mypy

feat: operation to test whether 2D points are within an ellipse
  src/pointtree/operations/_points_in_ellipse.py
Due: pylint, mypy

add tests
  src/pointtree/operations/__init__.py
  src/pointtree/operations/_points_in_ellipse.py
  test/operations/test_points_in_ellipse.py
Due: pylint, mypy

refactor: introduce pointtorch as dependency
  notebooks/0_preprocess_semantic_segmentation.ipynb
  pyproject.toml
  src/pointtree/instance_segmentation/_instance_segmentation_algorithm.py
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  src/pointtree/instance_segmentation/filters.py
  src/pointtree/operations/__init__.py
  src/pointtree/operations/_create_digital_terrain_model.py
  src/pointtree/operations/_knn_search.py
  src/pointtree/operations/_make_labels_consecutive.py
  src/pointtree/operations/_pack_batch.py
  src/pointtree/operations/_ravel_index.py
  src/pointtree/operations/_voxel_downsampling.py
  test/operations/test_make_labels_consecutive.py
Due: pylint, mypy

update Dockerfile
  Dockerfile
Due: none

feat: operation to test whether 2D points are within an ellipse (#81)
  docs/source/pointtree.instance_segmentation.rst
  src/pointtree/operations/_points_in_ellipse.py
Due: pylint, mypy

fix: call of voxel_downsampling method
  src/pointtree/instance_segmentation/_instance_segmentation_algorithm.py
Due: pylint, mypy

refactor: fix code formatting
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
Due: pylint, mypy

ci: fix test for watershed correction
  test/instance_segmentation/test_multi_stage_algorithm.py
Due: pylint, mypy

ci: fix test for MultiStageAlgorithm.watershed_correction (#83)
  test/instance_segmentation/test_multi_stage_algorithm.py
Due: pylint, mypy

remove pointtree.io module
  notebooks/0_preprocess_semantic_segmentation.ipynb
  notebooks/1_evaluate_semantic_segmentation.ipynb
  notebooks/2_color_semantic_segmentation.ipynb
  notebooks/3_evaluate_instance_segmentation.ipynb
  notebooks/4_color_instance_segmentation.ipynb
  src/pointtree/io/__init__.py
  src/pointtree/io/_base_point_cloud_reader.py
  src/pointtree/io/_base_point_cloud_writer.py
  src/pointtree/io/_csv_reader.py
  src/pointtree/io/_csv_writer.py
  src/pointtree/io/_las_reader.py
  src/pointtree/io/_las_writer.py
  src/pointtree/io/_point_cloud_io_data.py
  src/pointtree/io/_point_cloud_reader.py
  src/pointtree/io/_point_cloud_writer.py
Due: pylint, mypy

refactor!: introduce pointtorch as dependency (#82)
  Dockerfile
  docs/source/pointtree.rst
  notebooks/0_preprocess_semantic_segmentation.ipynb
  notebooks/1_evaluate_semantic_segmentation.ipynb
  notebooks/2_color_semantic_segmentation.ipynb
  notebooks/3_evaluate_instance_segmentation.ipynb
  notebooks/4_color_instance_segmentation.ipynb
  pyproject.toml
  src/pointtree/instance_segmentation/_instance_segmentation_algorithm.py
  src/pointtree/instance_segmentation/_multi_stage_algorithm.py
  src/pointtree/instance_segmentation/filters.py
  src/pointtree/io/__init__.py
  src/pointtree/io/_base_point_cloud_reader.py
  src/pointtree/io/_base_point_cloud_writer.py
  src/pointtree/io/_csv_reader.py
  src/pointtree/io/_csv_writer.py
  src/pointtree/io/_las_reader.py
  src/pointtree/io/_las_writer.py
  src/pointtree/io/_point_cloud_io_data.py
  src/pointtree/io/_point_cloud_reader.py
  src/pointtree/io/_point_cloud_writer.py
  src/pointtree/operations/__init__.py
  src/pointtree/operations/_create_digital_terrain_model.py
  src/pointtree/operations/_knn_search.py
  src/pointtree/operations/_make_labels_consecutive.py
  src/pointtree/operations/_pack_batch.py
  src/pointtree/operations/_ravel_index.py
  src/pointtree/operations/_voxel_downsampling.py
  test/operations/test_make_labels_consecutive.py
Due: pylint, mypy

Path conditions:
  pylint: (any of: src and \.py$) or (any of: test and \.py$)
  mypy: any of: \.py$
